<div id="fh5co-contact" class="fh5co-section animate-box" style="margin-top: 80px;">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Leave your comment</h2>
                <p>Want to share your opinion about your experience?</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                    <div class="container">
                        <div class="row">
                            {{#each comments}}

                            <div class="col-sm-8">
                                <div class="animate-box" id="form-wrap" style="border:2px solid rgb(75, 75, 75);">
                                    <h3 style="color:Orange;">{{this.name}}</h3>
                                    <h4 style="color:White;">{{this.content}}</h4>
                                    <div class="text-right"> <span class="text-muted fw-normal fs-10" style="color:rgb(172, 172, 172);">{{dateFormat this.when format="MMMM DD, YYYY - hh:mm A"}}</span> </div>
                                </div>
                            </div>

                            {{/each}}

                        </div>

                        {{#if is_notOne}}

                        <div class="pagination">
                            <ul>
                                <li {{#if prev}}{{else}}class="noneDisplay" {{/if}}><a href="/comment?page={{prev}}"
                                        class="btn btn-primary btn-outline">&lt;&lt;</a></li>

                                {{#times pages}}

                                <li><a href="/comment?page={{this}}" class="btn btn-primary btn-outline">{{this}}</a>
                                </li>

                                {{/times}}

                                <li {{#if is_overload}}class="noneDisplay" {{/if}}><a href="/comment?page={{next}}"
                                        class="btn btn-primary btn-outline">&gt;&gt;</a></li>
                            </ul>
                        </div>

                        {{/if}}

                    </div>
            </div>
            <div class="col-sm-4">
                <form action="/comment" method="post" id="form-wrap">
                    {{#if login}}

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="name">Share your experience, {{user.info.name}}</label>
                        </div>
                    </div>

                    <input type="text" class="hidden" name="name" value="{{user.info.name}}">

                    {{else}}

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label>Share your experience</label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="name">Your Name</label>
                            <input type="text" class="form-control" name="name" id="name" required>
                        </div>
                    </div>

                    {{/if}}

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="content">Your Message</label>
                            <textarea name="content" id="content" cols="30" rows="10" class="form-control"
                                required></textarea>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary btn-outline btn-lg" value="Send">
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>