<div id="fh5co-featured-testimony" class="fh5co-section" style="margin-top: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fh5co-heading animate-box">
                <h2>{{fd.name}}</h2>
                <span style="font-size: 24px; font-style: 20px; color: #fee856;" class="fh5co-price">${{fd.price}}</span>
                <div class="row">
                    <div class="col-md-6">
                        <p>{{fd.description}}</p>
                    </div>
                </div>
                <p><a href="#" class="btn btn-primary btn-outline">Order now</a></p>
            </div>

            <div class="col-md-5 animate-box img-to-responsive animate-box" data-animate-effect="fadeInLeft">
                    <img src={{fd.avatar}} width="800" alt={{fd.cloudinary_id}}>
            </div>
            <div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
                <blockquote>
                    <p> &ldquo; Come for the food, stay for the atmosphere. The first bite will blow your mind. The second will transport you to another dimension. Have it your way!!! &rdquo;</p>
                    <p class="author"><cite>&mdash; FDSHOP</cite></p>
                </blockquote>
            </div>
        </div>
    </div>
</div>