<div id="fh5co-reservation-form" class="fh5co-section" style="margin-top: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fh5co-heading animate-box">
                <h2>Sign Up</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam, itaque, nesciunt similique commodi omnis. Ad magni perspiciatis, voluptatum repellat.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6">
                <form action="/up" method="post" id="form-wrap">
                    <input type="text" class="form-control noneDisplay" name="name" value="{{body.name}}">
                    <input type="date" class="form-control noneDisplay" name="date_of_birth" value="{{body.date_of_birth}}">
                    <input type="text" class="form-control noneDisplay" name="sex" value="{{body.sex}}">
                    <input type="email" class="form-control noneDisplay" name="email" value="{{body.email}}">
                    <input type="text" class="form-control noneDisplay" name="phone_number" value="{{body.phone_number}}">
                    <input type="text" class="form-control noneDisplay" name="address" value="{{body.address}}">

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="pre-password">Re-enter Password</label>
                            <input type="password" class="form-control" name="pre-password" id="pre-password" required>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                    {{#if hasErrors}}
                    {{#each messages}}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <strong>{{this}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/each}}
                    {{/if}}
                    
                    <div class="row form-group" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary btn-outline btn-lg" value="Sign up">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>